body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand"; }

a {
  text-decoration: none; }

@keyframes arrowMove {
  0% {
    margin-top: 0; }
  100% {
    margin-top: 10px; } }
::-webkit-scrollbar {
  width: 5px; }

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; }

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #f26876; }

.container {
  width: 100%;
  height: 100%;
  background-color: white; }

.page-head {
  width: 100%;
  height: 740px;
  background-image: url("../images/hero-img.jpg");
  object-fit: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.page-head__navbar {
  width: 100%;
  height: 100px;
  background-color: transparent;
  z-index: 10;
  position: fixed;
  transition: 0.5s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }
  @media screen and (max-width: 1199px) {
    .page-head__navbar {
      height: 80px; } }
  @media screen and (max-width: 599px) {
    .page-head__navbar {
      background-color: #222; } }

.sticky-navbar {
  height: 60px;
  background-color: #222;
  transition: 0.5s; }
  .sticky-navbar .navbar__links {
    width: 60%;
    margin-right: auto;
    margin-left: auto; }
  .sticky-navbar .navbar__links a {
    padding-top: 10px;
    font-size: 16px; }

.navbar__links {
  width: 60%;
  height: 100px;
  margin-left: auto;
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  @media screen and (max-width: 1199px) {
    .navbar__links {
      display: none; } }
  .navbar__links a {
    color: white;
    font-size: 18px;
    font-weight: 500;
    font-family: "Roboto";
    transition: 0.3s; }

.underline {
  width: 6px;
  height: 2px;
  margin-top: 10px;
  display: block;
  background-color: transparent;
  transition: 0.7s; }
  .underline:hover {
    width: 100%;
    transition: 1s; }

.open-button {
  display: none; }
  @media screen and (max-width: 1199px) {
    .open-button {
      margin-top: 15px;
      margin-left: 30px;
      font-size: 22px;
      font-family: "Lato";
      color: #c0e3e7;
      font-weight: bold;
      display: block;
      display: flex;
      align-items: center; } }

.button-icon {
  width: 40px;
  height: 40px;
  padding-left: 10px;
  padding-bottom: 15px; }
  @media screen and (min-width: 1200px) {
    .button-icon {
      display: none; } }

.overlay {
  display: none; }
  @media screen and (max-width: 1199px) {
    .overlay {
      width: 30%;
      max-height: 0;
      top: 80px;
      left: 0;
      padding-top: 20px;
      position: fixed;
      opacity: 0;
      z-index: 10;
      transition: 0.5s;
      overflow: hidden;
      overflow-y: scroll;
      background-color: #222;
      display: block;
      box-shadow: 7px 7px 7px 0 rgba(0, 0, 0, 0.3); } }
  @media screen and (max-width: 800px) {
    .overlay {
      width: 50%; } }
  @media screen and (max-width: 500px) {
    .overlay {
      width: 70%; } }
  @media screen and (max-widtH: 449px) {
    .overlay {
      width: 90%; } }

.overlay-content {
  display: none; }
  @media screen and (max-width: 1199px) {
    .overlay-content {
      width: 100%;
      height: 600px;
      display: block; } }
  .overlay-content a {
    width: 100%;
    height: 60px;
    line-height: 60px;
    display: block;
    padding-left: 30px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-family: "Lato"; }

.open-overlay {
  opacity: 1;
  max-height: 700px; }

.page-head__title {
  width: 100%;
  height: 62%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center; }
  @media screen and (max-width: 700px) {
    .page-head__title {
      width: 90%;
      height: 85%;
      padding-left: 20px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start; } }

.title__primary {
  width: 50%;
  margin-bottom: 50px;
  font-size: 40px;
  font-family: "Quicksand";
  font-weight: 400;
  color: #c0e3e7;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media screen and (max-width: 499px) {
    .title__primary {
      font-size: 25px; } }
  @media screen and (max-width: 388px) {
    .title__primary {
      font-size: 22px; } }

.primary__decoration {
  width: 24%;
  height: 2px;
  background-color: #c0e3e7; }

.title__subtitle {
  margin-top: -2%;
  font-size: 70px;
  font-family: "Roboto";
  font-weight: 700;
  color: white;
  line-height: 50px; }
  @media screen and (max-width: 899px) {
    .title__subtitle {
      font-size: 50px; } }
  @media screen and (max-width: 599px) {
    .title__subtitle {
      font-size: 45px; } }
  @media screen and (max-width: 499px) {
    .title__subtitle {
      font-size: 40px; } }
  @media screen and (max-width: 388px) {
    .title__subtitle {
      font-size: 38px; } }

.page-head__buttons {
  widtH: 100%;
  height: 25%;
  display: flex;
  justify-content: center; }

.buttons {
  width: 120px;
  height: 50px;
  bordeR: 2px solid #9bd3d9;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center; }

.buttons__portfolio {
  margin-right: 10px;
  transition: 0.5s; }

.buttons__contact {
  margin-left: 10px;
  background-color: #9bd3d9;
  transition: 0.5s; }

.page-head__description {
  text-align: center;
  font-size: 20px;
  color: white; }

.page-head__arrow {
  width: 100%;
  margin-top: 10px;
  animation-name: arrowMove;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  display: flex;
  justify-content: center; }

.page-head__arrow img {
  width: 20px;
  height: 20px;
  margin-top: 10px; }

.container__about-me {
  width: 88%;
  height: 700px;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  background: white;
  display: flex;
  justify-content: space-between; }

.about-me__avatar {
  width: 40%;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  .about-me__avatar img {
    margin-left: 15px; }

.avatar__decoration {
  width: 60px;
  height: 60px;
  margin-left: auto;
  border-top: 2px solid #9bd3d9;
  border-right: 2px solid #9bd3d9; }

/*.about-me__card {
	width: 300px;
	height: 550px;
	margin-top: 60px;
	margin-left: 60px;
	background: white;
	border-right: 1px solid #f0f0f0;
	box-shadow: -10px 10px 7px 0 rgba(0,0,0,0.3);
}

.card__header {
	width: 100%;
	height: 75%;
	background-color: $primary-color;


	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	img {
		width: 200px;
		height: 200px;
		border-radius: 50%;
	}
}

.header__title {
	font-weight: 600;
	font-size: 25px;
}

.header__subtitle {
	margin-top: -8%;
	font-weight: 400;
	font-size: 17px;
	color: #768c8e;
}

.header__icons {
	width: 60%;
	height: 30px;

	display: flex;
	justify-content: space-around;
	img {
		width: 20px;
		height: 20px;
	}
}

.card__footer {
	width: 100%;
	height: 25%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.footer__button {
	width: 210px;
	height: 60px;
	border-radius: 30px;
	background-color: $primary-color;
	font-weight: 600;
	color: black;
	transition: 0.5s;

	display: flex;
	justify-content: center;
	align-items: center;
	&:hover {
		transition: 0.5s;
		box-shadow: 2px 2px 7px 0 rgba(0,0,0,0.4);
	}
}
*/
.about-me__text-area {
  width: 45%;
  height: 600px;
  padding-right: 60px; }

.text-area__title {
  font-size: 30px; }

.text-area__divider {
  width: 16%;
  height: 3px;
  margin-bottom: 30px;
  background-color: #9bd3d9; }

.text-area__content {
  line-height: 25px;
  font-weight: 400;
  font-size: 18px;
  font-family: "Lato"; }

/*# sourceMappingURL=main.css.map */
